.pago-class {
  background-color: rgba(27, 255, 0, 0.5);
}

.andamento-class {
  background-color: rgba(100, 149, 237, 0.5);

}

.atrasado-class {
  background-color: rgba(255, 0, 0, 0.5);
}

.scrollable-container{
  max-height: 71vh;
  overflow-y: auto;
  width: 100%;
}

