table {
  width: 95%;
  margin-top: 20px;
  max-height: 100%;
}

.container {
  margin-top: 20px;
  background: white;
  border-radius: 15px;
}

th {
  font-weight: bold;
  text-align: center;
}

td {
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid lightgray;
}

.header {
  background-color: whitesmoke;
}

.table-container {
  max-height: 700px;
}

.table-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table-body {
  max-height: 350px;
  overflow-y: auto;
}




