<div class="d-flex flex-column justify-content-start align-items-center vh-100">
    <button class="mt-md-4 btn btn-primary" (click)="areaCliente()">
      <i class="fa fa-plus-circle fa-2xl i-style"></i>
      <small>Cliente</small>
    </button>
    <button class="mt-md-4 btn btn-dark">
      <i class="fa fa-user fa-2xl i-style"></i>
      <small>Usuario</small>
    </button>
  <div class="d-flex flex-column w-100 h-100 justify-content-end align-items-center">
    <button class="btn btn-danger mb-md-4" (click)="logout()">
      <i class="fa fa-sign-out-alt fa-2xl i-style"></i>
    </button>
  </div>
</div>
