<div class="d-flex flex-column vh-100 w-100">
  <div>
    <app-header></app-header>
  </div>
  <div class="d-flex flex-row h-100 w-100" style="background-color: lightgray">
    <div class="w-25 p-2">
      <div class="d-flex flex-column justify-content-center align-items-center bg-white h-100">
        <h2 class="mb-5">Empréstimos</h2>
        <app-pizza></app-pizza>
      </div>
    </div>
    <div class="d-flex flex-column bg-secondary w-50 h-100">
      <div class="h-50 d-flex justify-content-center align-items-center p-2" style="background-color: lightgray">
        <div class="h-100 w-100 bg-white d-flex align-items-center justify-content-center">
          <app-barra class="w-75 h-100"></app-barra>
        </div>
      </div>
      <div class="h-50 d-flex justify-content-center align-items-center p-2" style="background-color: lightgray">
        <div class="h-100 w-100 bg-white d-flex align-items-center justify-content-center">
          <app-barra-futura class="w-75 h-100"></app-barra-futura>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column bg-primary-subtle w-25">

    </div>
  </div>
</div>
