<div class="d-flex flex-column vh-100 w-100">
  <div>
    <app-header></app-header>
  </div>
  <div class="d-flex flex-row h-100 w-100" style="background-color: lightgray">
    <div class="w-25 p-2">
      <div class="d-flex flex-column justify-content-center align-items-center bg-white h-100">
        <h2 class="mb-5">Empréstimos</h2>
        <app-grafico></app-grafico>
      </div>
    </div>
    <div class="d-flex flex-column bg-secondary w-25">

    </div>
    <div class="d-flex flex-column bg-secondary w-25">

    </div>
    <div class="d-flex flex-column bg-primary-subtle w-25">

    </div>
  </div>
</div>
