<div class="container mt-4">

  <h3 class="my-4">Lista de Empréstimos</h3>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Moeda</th>
      <th>Valor Obtido</th>
      <th>Data Empréstimo</th>
      <th>Data Vencimento</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let emprestimo of emprestimos">

      <tr class="p5">
        <td>{{ emprestimo.moeda }}</td>
        <td>{{ emprestimo.valorObtido | currency }}</td>
        <td>{{ emprestimo.dataEmprestimo | date:'dd/MM/yyyy' }}</td>
        <td>{{ emprestimo.dataVencimento | date:'dd/MM/yyyy' }}</td>
        <td>
          <div class="d-flex justify-content-end">
            <button class="btn btn-info btn-sm me-2" (click)="toggleCollapse(emprestimo)">
              Detalhes
            </button>
            <button class="btn btn-warning btn-sm me-2" (click)="editarEmprestimo(emprestimo)">Editar</button>
            <button class="btn btn-danger btn-sm " (click)="deletarEmprestimo(emprestimo.id)">Deletar</button>
          </div>
        </td>
      </tr>

      <tr *ngIf="emprestimo.editing">
        <td colspan="5">
          <form [formGroup]="editForm" (ngSubmit)="salvarEdicao(emprestimo)">
            <div class="row g-3">
              <div class="col-md-3">
                <select id="moeda" class="form-control" formControlName="moeda" required>
                  <option value="" disabled selected>Selecione uma moeda</option>
                  <option value="DKK">Coroa Dinamarquesa (DKK)</option>
                  <option value="NOK">Coroa Norueguesa (NOK)</option>
                  <option value="SEK">Coroa Sueca (SEK)</option>
                  <option value="USD">Dólar Americano (USD)</option>
                  <option value="AUD">Dólar Australiano (AUD)</option>
                  <option value="CAD">Dólar Canadense (CAD)</option>
                  <option value="EUR">Euro (EUR)</option>
                  <option value="CHF">Franco Suíço (CHF)</option>
                  <option value="JPY">Iene (JPY)</option>
                  <option value="GBP">Libra Esterlina (GBP)</option>
                </select>
              </div>
              <div class="col-md-3">
                <input type="number" class="form-control" formControlName="valorObtido" name="valorObtido" required>
              </div>
              <div class="col-md-3">
                <input type="date" class="form-control" formControlName="dataEmprestimo" name="dataEmprestimo" required>
              </div>
              <div class="col-md-3">
                <input type="date" class="form-control" formControlName="dataVencimento" name="dataVencimento" required>
              </div>
            </div>
            <div class="mt-2 d-flex justify-content-end">
              <button type="submit" class="btn btn-success btn-sm me-2">Salvar</button>
              <button type="button" class="btn btn-secondary btn-sm" (click)="editarEmprestimo(emprestimo)">Cancelar</button>
            </div>
          </form>
        </td>
      </tr>

      <tr *ngIf="emprestimo.expandido">
        <td colspan="5">
          <div class="p-2 bg-light border rounded d-flex flex-row justify-content-center align-items-center">
            <p class="m-2"><strong>Taxa de conversão: </strong>{{ emprestimo.taxaConversao }}</p>
            <p class="m-2"><strong>Valor final com juros (R$): </strong>{{ emprestimo.valorFinal | currency }}</p>
            <p class="m-2"><strong>Meses de financiamento: </strong>{{ emprestimo.meses}}</p>
          </div>
        </td>
      </tr>

    </ng-container>
    </tbody>
  </table>
</div>
