<div class="login-indicator d-flex h-100 justify-content-center align-items-center flex-column container-2" [ngClass]="{ 'login-active': !isRegister, 'register-active': isRegister }">
  <ng-container *ngIf="isRegister">
    <h1>Bem-vindo de volta</h1>
    <span>Já possui uma conta?</span>
    <span>Entre no botão abaixo</span>
    <button class="w-50 btn btn-outline-light mt-md-3" (click)="alternaLogin()">Login</button>
  </ng-container>

  <ng-container *ngIf="!isRegister">
    <!-- Formulário de Registro -->
    <h2 class="my-md-4 text-dark">Login</h2>
    <!--Botoes do OAuth-->
    <div class="w-50 justify-content-center mb-md-4 d-flex align-items-center buttons">
      <button><i class="fab fa-facebook"></i></button>
      <button><i class="fab fa-google"></i></button>
      <button><i class="fab fa-apple"></i></button>
    </div>

    <span style="color: gray; margin-bottom: 5px">Ou use seu email para logar</span>

    <form [formGroup]="loginForm" class="form-container" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <input class="mt-md-1"
               formControlName="email"
               type="email"
               placeholder="Email"
               required>
        <i class="fa fa-envelope"></i>
      </div>
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
        <small>Informe um email válido.</small>
      </div>

      <div class="input-container">
        <input class="my-md-1"
               formControlName="password"
               type="password"
               placeholder="Senha"
               required>
        <i class="fa fa-key"></i>
      </div>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
        <small>A senha é obrigatória e deve ter pelo menos 6 caracteres.</small>
      </div>

      <!-- Div de organização para o botão -->
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn btn-primary p-2 mt-md-3 rounded" style="width: 50%" type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>

  </ng-container>
</div>
